<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Listagem de vacinas</title>
    <link rel="icon" th:href="@{/logo.svg}" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link href="../static/css/global.css" rel="stylesheet">
</head>
<body>
<div th:replace="~{fragmentos/fragmentos ::cabecalho}"></div>
<div class="container">
    <h5 class="pt-5">Listar por bairro, vacina e data</h5>
    <form action="/relatorios/listar" method="post" id="formularioRelatorioPorDataEBairro">
        <div class="row">
            <div class="form-group col-md-6">
                <label for="dataInicio">Data Início:</label>
                <input class="form-control" id="dataInicio" name="dataInicio" th:value="${dataInicio}"
                       type="datetime-local">
            </div>
            <div class="form-group col-md-6">
                <label for="dataFim">Data Fim:</label>
                <input class="form-control" id="dataFim" name="dataFim" th:value="${dataFim}" type="datetime-local">
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-6">
                <label for="bairro">Bairro:</label>
                <select class="form-control" id="bairro" name="bairro">
                    <option value="">Selecione um bairro</option>
                    <th:block th:each="bairro : ${bairros}">
                        <option th:selected="${bairroSelecionadoId != null && bairroSelecionadoId == bairro.id}"
                                th:text="${bairro.nome}"
                                th:value="${bairro.id}"></option>
                    </th:block>
                </select>
            </div>
            <div class="form-group col-md-6">
                <label for="bairro">Dosagem:</label>
                <select class="form-control" id="dosagem" name="dosagem">
                    <option value="">Selecione uma dosagem</option>
                    <th:block th:each="dosagem : ${dosagens}">
                        <option th:selected="${doseSelecionada != null && doseSelecionada == dosagem.valor}"
                                th:text="${dosagem.nome}"
                                th:value="${dosagem.valor}"></option>
                    </th:block>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="vacina">Vacinas:</label>
            <select class="form-control" id="vacina" name="vacina">
                <option value="">Selecione uma vacina</option>
                <th:block th:each="vacina : ${vacinas}">
                    <option th:selected="${vacinaSelecionadaId != null && vacinaSelecionadaId == vacina.id}"
                            th:text="${vacina.nome}" th:value="${vacina.id}"></option>
                </th:block>
            </select>
        </div>

        <button type="submit" class="btn btn-primary mt-3">
            <i class="bi bi-search"> Buscar </i>
        </button>
        <button type="button" class="btn btn-secondary mt-3" onclick="limparCampos()">
            <i class="bi bi-x-lg"> Limpar Campos </i>
        </button>
    </form>

    <div class="d-flex justify-content-between mt-2 mb-2">
        <form action="#" th:action="@{/relatorios/exportar/descritivo}" method="post"
              class="d-inline">
            <input id="bairroExportar" type="hidden" name="bairro" th:value="${bairro}">
            <input id="vacinaExportar" type="hidden" name="vacina" th:value="${vacina}">
            <input id="dataInicioExportar" type="hidden" name="dataInicio" th:value="${dataInicio}">
            <input id="dataFimExportar" type="hidden" name="dataFim" th:value="${dataFim}">
            <button type="submit" class="btn btn-success" onclick="prepareData()">
                <i class="bi bi-file-earmark-arrow-down"> Exportar dados </i>
            </button>
        </form>
    </div>

    <script>
        function limparCampos() {
           window.location.href = window.location.origin + "/relatorios";
        }

        function prepareData() {
            var bairro = document.getElementById('bairro').value;
            var vacina = document.getElementById('vacina').value;
            var dataInicio = document.getElementById('dataInicio').value;
            var dataFim = document.getElementById('dataFim').value;

            document.getElementById('bairroExportar').value = bairro;
            document.getElementById('vacinaExportar').value = vacina;
            document.getElementById('dataInicioExportar').value = dataInicio;
            document.getElementById('dataFimExportar').value = dataFim;
        }

    </script>

    <hr>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Resultados</h2>
                <hr class="mb-2">

                <h5>Dose única</h5>
                <div th:each="vacina: ${unicaDose}" class="row container mb-3">
                    <div class="col-4 bg-secondary-subtle separador">
                        <span style="font-weight: bold" class="bold-label">Vacina:</span> <span th:text="${vacina.vacina}"></span>
                    </div>
                    <div class="col-4 bg-secondary-subtle separador">
                        <span style="font-weight: bold" class="bold-label">Bairro:</span> <span th:text="${vacina.bairro}"></span>
                    </div>
                    <div class="col-4 bg-secondary-subtle separador">
                        <span style="font-weight: bold" class="bold-label">Data:</span> <span th:text="${vacina.dataAplicacao}"></span>
                    </div>

                    <div class="mt-1"></div>

                    <div class="col-2 bg-secondary-subtle separador">
                        <span style="font-weight: bold" class="bold-label">Aplicador:</span> <span th:text="${vacina.aplicador}"></span>
                    </div>
                    <div class="col-10 bg-secondary-subtle separador">
                        <span style="font-weight: bold" class="bold-label">Observações:</span> <span th:text="${vacina.observacoes}"></span>
                    </div>
                </div>
                <p th:if="${unicaDose != null && unicaDose.size() <= 0}" class="alert alert-danger auto-hide" role="alert">Nenhum registro encontrado</p>
                <hr class="mb-2">

                <h5>1° Dose</h5>
                <div th:each="vacina: ${primeiraDose}" class="row container mb-3">
                    <div class="col-4 bg-secondary-subtle separador">
                        <span style="font-weight: bold" class="bold-label">Vacina:</span> <span th:text="${vacina.vacina}"></span>
                    </div>
                    <div class="col-4 bg-secondary-subtle separador">
                        <span style="font-weight: bold" class="bold-label">Bairro:</span> <span th:text="${vacina.bairro}"></span>
                    </div>
                    <div class="col-4 bg-secondary-subtle separador">
                        <span style="font-weight: bold" class="bold-label">Data:</span> <span th:text="${vacina.dataAplicacao}"></span>
                    </div>

                    <div class="mt-1"></div>

                    <div class="col-2 bg-secondary-subtle separador">
                        <span style="font-weight: bold" class="bold-label">Aplicador:</span> <span th:text="${vacina.aplicador}"></span>
                    </div>
                    <div class="col-6 bg-secondary-subtle separador">
                        <span style="font-weight: bold" class="bold-label">Observações:</span> <span th:text="${vacina.observacoes}"></span>
                    </div>
                </div>
                <p th:if="${primeiraDose != null && primeiraDose.size() <= 0}" class="alert alert-danger auto-hide" role="alert">Nenhum registro encontrado</p>
                <hr class="mb-2">

                <h5>2° Dose</h5>
                <div th:each="vacina: ${segundaDose}" class="row container mb-3">
                    <div class="col-4 bg-secondary-subtle separador">
                        <span style="font-weight: bold" class="bold-label">Vacina:</span> <span th:text="${vacina.vacina}"></span>
                    </div>
                    <div class="col-4 bg-secondary-subtle separador">
                        <span style="font-weight: bold" class="bold-label">Bairro:</span> <span th:text="${vacina.bairro}"></span>
                    </div>
                    <div class="col-4 bg-secondary-subtle separador">
                        <span style="font-weight: bold" class="bold-label">Data:</span> <span th:text="${vacina.dataAplicacao}"></span>
                    </div>

                    <div class="mt-1"></div>

                    <div class="col-2 bg-secondary-subtle separador">
                        <span style="font-weight: bold" class="bold-label">Aplicador:</span> <span th:text="${vacina.aplicador}"></span>
                    </div>
                    <div class="col-6 bg-secondary-subtle separador">
                        <span style="font-weight: bold" class="bold-label">Observações:</span> <span th:text="${vacina.observacoes}"></span>
                    </div>

                </div>
                <p th:if="${segundaDose != null && segundaDose.size() <= 0}" class="alert alert-danger auto-hide" role="alert">Nenhum registro encontrado</p>
                <hr class="mb-2">

                <h5>3° Dose</h5>
                <div th:each="vacina: ${terceiraDose}" class="row container mb-3">
                    <div class="col-4 bg-secondary-subtle separador">
                        <span style="font-weight: bold" class="bold-label">Vacina:</span> <span th:text="${vacina.vacina}"></span>
                    </div>
                    <div class="col-4 bg-secondary-subtle separador">
                        <span style="font-weight: bold" class="bold-label">Bairro:</span> <span th:text="${vacina.bairro}"></span>
                    </div>
                    <div class="col-4 bg-secondary-subtle separador">
                        <span style="font-weight: bold" class="bold-label">Data:</span> <span th:text="${vacina.dataAplicacao}"></span>
                    </div>

                    <div class="mt-1"></div>

                    <div class="col-2 bg-secondary-subtle separador">
                        <span style="font-weight: bold" class="bold-label">Aplicador:</span> <span th:text="${vacina.aplicador}"></span>
                    </div>
                    <div class="col-6 bg-secondary-subtle separador">
                        <span style="font-weight: bold" class="bold-label">Observações:</span> <span th:text="${vacina.observacoes}"></span>
                    </div>
                </div>
                <p th:if="${terceiraDose != null && terceiraDose.size() <= 0}" class="alert alert-danger auto-hide" role="alert">Nenhum registro encontrado</p>
                <hr class="mb-2">

                <h5>Reforço</h5>
                <div th:each="vacina: ${reforcoDose}" class="row container mb-3">
                    <div class="col-4 bg-secondary-subtle separador">
                        <span style="font-weight: bold" class="bold-label">Vacina:</span> <span th:text="${vacina.vacina}"></span>
                    </div>
                    <div class="col-4 bg-secondary-subtle separador">
                        <span style="font-weight: bold" class="bold-label">Bairro:</span> <span th:text="${vacina.bairro}"></span>
                    </div>
                    <div class="col-4 bg-secondary-subtle separador">
                        <span style="font-weight: bold" class="bold-label">Data:</span> <span th:text="${vacina.dataAplicacao}"></span>
                    </div>

                    <div class="mt-1"></div>

                    <div class="col-2 bg-secondary-subtle separador">
                        <span style="font-weight: bold" class="bold-label">Aplicador:</span> <span th:text="${vacina.aplicador}"></span>
                    </div>
                    <div class="col-6 bg-secondary-subtle separador">
                        <span style="font-weight: bold" class="bold-label">Observações:</span> <span th:text="${vacina.observacoes}"></span>
                    </div>
                </div>
                <p th:if="${reforcoDose != null && reforcoDose.size() <= 0}" class="alert alert-danger auto-hide" role="alert">Nenhum registro encontrado</p>

            </div>
            <div class="mb-2"></div>
        </div>
    </div>

</div>
</body>
</html>
