<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div th:replace="fragmentos/fragmentos ::cabecalho"></div>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <h1>Resultados</h1>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Bairro</th>
                    <th scope="col">Vacina</th>
                </tr>
                </thead>
                <tbody>
                <tr data-th-each="vacina: ${vacinasBairros}">
                    <td data-th-text="${vacina.id}"></td>
                    <td data-th-text="${vacina.bairro}"></td>
                    <td data-th-text="${vacina.vacina}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>